body{
    background-color: rgb(88, 124, 169);
}

.mensaje{
    display: flex;
    flex-direction: column;
}
button{
   
    margin: 20px;
    padding:1%;
    border-radius: 20px;
    box-shadow: 5px 3px black;
}

fieldset{
     margin: 20px;
    padding:1%;
    border-radius: 20px;
    box-shadow: 5px 3px black;
}

legend{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}